<body onload="LoadProc();">
<div id= "layouts nonchange">
<h2>現在の時刻:<div id="datetime"></div></h2>
<p class="sum nonchange">スケジュール合計：</p>
<div class="sum nonchange">
  <%= User.count %> <%# モデル.countメソッド　でデータ総数が出る%>
</div>
</div>
</body>

<script type="text/javascript">
    let now = new Date(); //　日時の宣言
    function LoadProc() {
      let target = document.getElementById("datetime");
      let Year = now.getFullYear();
      let Month = now.getMonth()+1;
      let Date = now.getDate();

      target.innerHTML = Year + "年" + Month + "月" + Date + "日";
    }

  </script>